body{
  font-family: 'Poppins', sans-serif;
}
.navbar{
  background: #F2A034;
  color: white;
  -webkit-box-shadow: 0px 4px 20px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 4px 20px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 4px 20px 2px rgba(0,0,0,0.2);
}
.card:hover{
  -webkit-box-shadow: 5px 8px 20px 1px rgba(0,0,0,0.26);
  -moz-box-shadow: 5px 8px 20px 1px rgba(0,0,0,0.26);
  box-shadow: 5px 8px 20px 1px rgba(0,0,0,0.26);
  transition: 0.8s all;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
}
.card{
  transition: 0.8s all;
  -webkit-transition: 0.8s all;
  -moz-transition: 0.8s all;
  -ms-transition: 0.8s all;
  -o-transition: 0.8s all;
  background-color: #FED766;
  border: none;
}
.card-body{
  padding: 1rem;
}
.list .card-body{
  padding: 0;
}
.card-header{
  padding: 0;
}
.card-col{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.list .card-caption .name{
  font-size: 20px;
}
.card-caption .name{
  font-size: 18px;
  font-weight: lighter;
}
.card-caption .price{
  font-size: 24px;
  font-weight: bold;
}
.card-caption .card-text{
  margin: 0 !important;
  display: flex;
  align-items: center;
}
.card-caption{
  margin-bottom: 10px;
}
.card-btn .btn{
  padding: 6px 30px;
  background-color: #F2A034;
  color: white;
  font-weight: bold;
}
.total-price{
  font-size: 24px;
  font-weight: bold;
}
.section{
  margin-top: 25px;
  margin-bottom: 15px;
}
.footer{
  padding: .5rem 1rem;
  background: #F2A034;
  color: #fff;
  text-align: right;
}